* {
	margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: rgb(253, 250, 250);
  --gray: rgb(148, 147, 147);
}

html {
  font-size: 100%;
  font-weight: 500;
}

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  color: var(--gray);
}

.mr-xs {
  margin-right: 1rem;
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: auto;
  padding: 0 1rem;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.choices {
  display: flex;
  flex-wrap: wrap;
}

.input-label {
  display: inline-block;
  padding: 0 0.5rem;
}

.color-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  min-height: 90vh;
}

.color-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  /* box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.75); */
  min-height: 100px;
}

.footer {
  padding: 2rem 0;
  text-align: center;
}

@media (max-width: 767.98px) {
  .choices {
    margin-top: 1rem;
  }

  .choices__description {
    margin-bottom: 1rem;
  }
}